.maiboola {
	padding: var(--maiboola-padding, var(--spacing-xxl) 0 0);
}

.js .maiboola-conceal {
	position: relative;
	background: var(--color-background, var(--color-white));
}

.js .maiboola-toggle-wrap {
	position: absolute;
	bottom: 100%;
	left: 0;
	display: var(--maiboola-toggle-display, none);
	width: 100%;
	margin: 0;
	padding-top: 140px;
	text-align: center;
	background: linear-gradient(to bottom, transparent 0%, var(--color-background, var(--color-white)) 50%);
}

@media only screen and (max-width: 599px) {

	.js .maiboola-content-mobile {
		max-height: var(--maiboola-content-max-height, unset);
		overflow: hidden;
	}

	.js .maiboola-conceal-mobile {
		--maiboola-conceal-position: absolute;
		--maiboola-toggle-display: block;
	}
}

@media only screen and (min-width: 600px) and (max-width: 799px) {

	.js .maiboola-content-tablet {
		max-height: var(--maiboola-content-max-height, unset);
		overflow: hidden;
	}

	.js .maiboola-conceal-tablet {
		--maiboola-conceal-position: absolute;
		--maiboola-toggle-display: block;
	}
}

@media only screen and (min-width: 800px) {

	.js .maiboola-content-desktop {
		max-height: var(--maiboola-content-max-height, unset);
		overflow: hidden;
	}

	.js .maiboola-conceal-desktop {
		--maiboola-conceal-position: absolute;
		--maiboola-toggle-display: block;
	}
}

.maiboola-content-full {
	--maiboola-content-max-height: unset !important;
}

.maiboola-conceal-hidden {
	--maiboola-toggle-display: none !important;
}
